<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>CO Messenger</string>
	<key>CFBundleName</key>
	<string>CO Messenger</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>CO Messenger uses the local network to find peers and sync encrypted group chats.</string>
</dict>
</plist>
